.tariff {
	@include adaptiv-value("padding-bottom", 160, 100, 1);
	overflow: hidden;
	&__title {
		padding: 0px 20px;

	}

	&__descr {
		padding: 0px 20px;
	}

	&__slider {
		margin-top: 40px;
		@media (max-width: 992px) {
			display: none;
		}
	}

	&__btn {
		display: block;
		margin: 40px auto 0px auto;
		@media (max-width: 400px) {
			width: 90%;
		}
	}
	&__bullet {
		position: relative;
		color: $dark-font;
		margin-top: 32px;
	}

	&__slider-mini {
		display: none;
		margin-top: 40px;
		@media (max-width: 992px) {
			display: block;
		}
	}
}

.table-item.swiper-slide-active {
	background: linear-gradient(249.96deg, rgba(29, 214, 255, 0) 36.64%, rgba(113, 0, 225, 0.6) 100%), linear-gradient(100.34deg, #001AFF 0%, #33C2FF 100%);
	color: $white-font;
	.table-item__table {
		border: solid 1px #33C2FF;
		overflow: hidden;
		td, th {
			position: relative;
		}
		th {
			opacity: 1;
		}
		td {
			&:first-child {
				opacity: 1;
			}
			@media (hover: hover) and (pointer: fine) {
				&:hover {
					//Row hover
					&::before {
						content:'';
						position: absolute;  
						top: 0;
						left: -5000px;
						width: 10000px; 
						height: 100%;
						background-color: rgba(255, 255, 255, 0.2);
						z-index: -1;
					}

					//Column hover
					&::after {
						content:'';
						position: absolute;  
						top: -5000px;
						left: 0;
						width: 100%; 
						height: 10000px;
						background-color: rgba(255, 255, 255, 0.2);
						z-index: -2; 
					}
				}
			}
		}
	}
}

.table-item {
	margin: 0px auto;
	padding: 32px;
	width: 838px;
	border-radius: 32px;
	transition: all 0.3s ease 0s;
	@media (max-width: 992px) {

	}

	&__title {
		font-weight: 800;
		font-size: 22px;
		text-align: center;
	}

	&__table {
		display:inline-block;
		margin-top: 32px;
		font-weight: 700;
		border-radius: 16px;
		th {
			padding: 14px 24px;
			opacity: 0.4;
			cursor: pointer;
		}
		td {
			padding: 14px 24px;
			&:first-child {
				opacity: 0.4;
				cursor: pointer;
			}
		}
	}
}

.tariff-item-mini {
	padding: 20px 0;
	width: 500px;
	background: linear-gradient(249.96deg, rgba(29, 214, 255, 0) 36.64%, rgba(113, 0, 225, 0.6) 100%), linear-gradient(100.34deg, #001AFF 0%, #33C2FF 100%);
	color: $white-font;
	border-radius: 32px;
	font-weight: 700;
	@media (max-width: 576px) {
		width: 90%;
	}

	&__title-mini {
		padding: 0px 20px;
		font-weight: 800;
		font-size: 18px;
		text-align: center;
		will-change: height;
		@media (max-width: 576px) {
			text-align: left;
		}
	}
}
.accordion {
	margin: 0px auto 0px auto;
	&:first-child {
		margin: 16px auto 0px auto;
	}

	&__control {
		position: relative;
		padding: 10px 0px 10px 190px;
		font-size: 16px;
		width: 100%;
		text-align: left;
		line-height: 16px;
		overflow: hidden;
		&.active {
			&::after {
				opacity: 1;
			}
			&::before {
				transform: translateY(-50%);
			}
		}
		@media (max-width: 576px) {
			padding: 10px 0px 10px 50px;
		}
		&::after {
			content:'';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(255, 255, 255, 0.2);
			opacity: 0;
			transition: opacity 0.3s ease 0s;
		}
		&::before {
			content:'';
			position: absolute;
			top: 50%;
			left: 160px;
			transform: translateY(-50%) rotate(180deg);
			width: 20px;
			height: 20px;
			background: url('../img/arrow.png') center center/cover no-repeat;
			transition: transform 0.3s ease-in-out;
			@media (max-width: 576px) {
				left: 20px;
			}
		}
	}

	&__content {
		padding-left: 190px;
		// overflow: hidden;
		// padding-bottom: 0;
		// max-height: 0;
		// box-sizing: content-box;
		// opacity: 0;
		// transition: all 0.3s ease-out;
		// will-change: max-height;
		@media (max-width: 576px) {
			padding-left: 50px;
		}
	}

	&__item {
		padding: 12px 0px;
	}

	&__name {
		display: inline-block;
		width: 65px;
		margin-right: 20px;
	}

	&__price {
		font-weight: 500;
	}
}


